body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(images/woodTexture.jpg);
  background-size: cover;
  overflow: hidden;
}

.Card {
  width: 87px;
  height: 116px;
  overflow-x: visible;
}

.disabled {
  /* opacity: 0.7; */
  margin-top: 10px;
  /* mix-blend-mode: multiply; */
}

.Table {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Table .Card {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.Table .BottomCard {
  top: 50px;
}

.Table .TopCard {
  top: -400px;
  transform: rotate(180deg);
}

.Table .LeftCard {
  left: -250px;
  top: -200px;
  transform: rotate(90deg);
}

.Table .RightCard {
  left: 250px;
  top: -200px;
  transform: rotate(-90deg);
}

.Hand {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.Hand .HandInner {
  margin: auto;
  max-width: 900px;
}

.Hand .Card {
  float: left;
  width: 10%;
}

.Player {
  position: absolute;
  background-color: #fff6;
  padding: 2px 4px;
}

.Player.Bottom {
  bottom: 160px;
  left: 50%;
}

.Player.Left {
  top: 40%;
  left: 0;
}

.Player.Top {
  top: 0;
  left: 50%;
}

.Player.Right {
  top: 40%;
  right: 0;
}

.Announcements {
  position: absolute;
  bottom: 200px;
  width: 200px;
  margin: 0 auto;
  left: 0;
  right: 0;
  list-style-type: none;
}

.restartBtn {
  position: absolute;
  top: 0;
  left: 0;

}

.ResultTable {
  position: absolute;
  border: 1px solid black;
  background-color: #ccccccbb;
  margin: 5%;
  width: 90%;
  height: 85%;
  overflow: scroll;
}

.ResultTable .ResultTableInner {
  margin: 0 auto;
  max-width: 500px;
  padding-bottom: 50px;
  padding: 5%;
}

.ResultTable th, td {
  border: 1px solid gray;
  padding: 2px;

}

.ResultTable table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
  text-align: right;
}

.continueButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
}